.race-track 
    display: flex
    flex-direction: row
    justify-content: space-evenly
    column-gap: 0px

    .race-track-field
        display: flex
        border: 1px solid red
        flex-grow: 1

        .start
            width: 3rem
      