<div 
class="score" 
>{{currentScore}}</div>

<div class="race-track"
[style.top.px]="2000">
    <!-- <app-race-track-field class="start race-track-field" [field]="{ fieldId: 0, playerId: player.id }" [player]="player"> 
     </app-race-track-field>
        <app-race-track-field class="race-track-field"  *ngFor="let field of raceTrackFields" [field]="field" [player]="player"></app-race-track-field>
    <app-race-track-field class="end race-track-field"  [field]="{ fieldId: raceTrackFields.length + 1, playerId: player.id }" [player]="player"> 
     </app-race-track-field >

    <app-race-track-field class="end race-track-field"  [field]="{ fieldId: raceTrackFields.length + 1, playerId: player.id }" [player]="player">
    </app-race-track-field > -->
    <app-player></app-player>
</div>
